<footer class="w-full text-center p-4 bg-gray-800">
  <div class="container mx-auto flex justify-between">
    <span class="text-gray-500">
      &copy; <%= Date.today.year %> yourcongress.co
    </span>
  </div>
</footer>