@tailwind base;
@tailwind components;

/*! purgecss start ignore */
@import "components/buttons";
@import "components/forms";
/*! purgecss end ignore */

@tailwind utilities;
@import '~@fortawesome/fontawesome-free';

:root {
  --base-size: 1rem;
  --type-scale: 1.20;
  --h5: calc(var(--base-size) * var(--type-scale));
  --h4: calc(var(--h5) * var(--type-scale));
  --h3: calc(var(--h4) * var(--type-scale));
  --h2: calc(var(--h3) * var(--type-scale));
  --h1: calc(var(--h2) * var(--type-scale));
  --text-sm: calc(var(--base-size) / var(--type-scale));
  --header-margin: 0 0 1rem 2rem;
}

h1 {
  font-size: var(--h1);
  font-weight: bold;
}

h2 {
  font-size: var(--h2);
  font-weight: bold;
}

h3 {
  font-size: var(--h3);
  font-weight: bold;
}

h4 {
  font-size: var(--h4);
  font-weight: bold;
}

h5 {
  font-size: var(--h5);
  font-weight: bold;
}

p {
  font-size: var(--base-size);
}

small, .text-small {
  font-size: var(--text-sm);
}

.btn__filter-group {
  @apply bg-transparent;
  @apply text-indigo-700 font-semibold;
  @apply py-2 px-4;
  @apply border border-indigo-700 rounded;
}

.debug_dump {
  @apply overflow-hidden bg-gray-300 rounded shadow;
  @apply p-4 m-5;
}

.icon {
  @apply text-xl text-gray-500;
  @apply no-underline;
}

.icon:hover,
.icon:focus {
  @apply text-blue-300;
}

.pagy-nav,
.pagy-nav-js,
.pagy-combo-nav-js {
  @apply .inline-flex .shadow-md;
}
.pagy-nav.pagination,
.pagy-nav-js.pagination,
.pagy-combo-nav-js.pagination {
  @apply .border .border-gray-600 .rounded-sm;
}
.pagy-nav .page,
.pagy-nav-js .page,
.pagy-combo-nav-js .page,
.pagy-combo-nav-js .pagy-combo-input {
  @apply .text-gray-700 .border-r .border-gray-600 .px-3 .py-2 .text-sm .leading-tight .font-medium;
}
.pagy-nav .page:hover,
.pagy-nav-js .page:hover {
  @apply .text-gray-900;
}
.pagy-nav .disabled,
.pagy-nav-js .disabled,
.pagy-combo-nav-js .disabled {
  @apply .cursor-not-allowed;
}
.pagy-nav .active,
.pagy-nav-js .active {
  @apply .text-blue-500;
}
.pagy-nav .prev,
.pagy-nav-js .prev,
.pagy-combo-nav-js .prev {
  @apply .text-gray-900;
}
.pagy-nav .next,
.pagy-nav-js .next,
.pagy-combo-nav-js .next {
  @apply .text-gray-900 .border-r .border-transparent;
}

