@tailwind base;
@tailwind components;

/*! purgecss start ignore */
@import "components/buttons";
@import "components/forms";
/*! purgecss end ignore */

@tailwind utilities;
@import '~@fortawesome/fontawesome-free';

:root {
  --base-size: 1rem;
  --type-scale: 1.20;
  --h5: calc(var(--base-size) * var(--type-scale));
  --h4: calc(var(--h5) * var(--type-scale));
  --h3: calc(var(--h4) * var(--type-scale));
  --h2: calc(var(--h3) * var(--type-scale));
  --h1: calc(var(--h2) * var(--type-scale));
  --text-sm: calc(var(--base-size) / var(--type-scale));
  --header-margin: 0 0 1rem 2rem;
}

h1 {
  font-size: var(--h1);
  font-weight: bold;
}

h2 {
  font-size: var(--h2);
  font-weight: bold;
}

h3 {
  font-size: var(--h3);
  font-weight: bold;
}

h4 {
  font-size: var(--h4);
  font-weight: bold;
}

h5 {
  font-size: var(--h5);
  font-weight: bold;
}

p {
  font-size: var(--base-size);
}

small, .text-small {
  font-size: var(--text-sm);
}

.debug_dump {
  @apply overflow-hidden bg-gray-300 rounded shadow;
  @apply p-4 m-5;
}

.icon {
  @apply text-xl text-gray-500;
  @apply no-underline;
}

.icon:hover,
.icon:focus {
  @apply text-blue-300;
}

.pagination {
  @apply flex justify-center;
  @apply my-2 py-2;
}

.pagination * {
  @apply px-3 py-2 mx-3;
  @apply text-gray-700 no-underline bg-white rounded-lg;
}

.pagination a:hover {
  @apply font-semibold text-gray-200 bg-gray-700;
}
